{% extends "template.html" %}
{% block content %}
    <form method="POST" action="{{ url_for('main.add') }}" id="playlist-form">
        
        <!-- Playlists Section -->
        {% if songs_list %}
            <!-- Select All Button -->
            <div>
                <button type="button" id="select-all" class="button">Select All</button>
            </div>
            
            <div class="playlist-container">
                <label for="playlist_name">Playlist Name:</label>
                <input type="text" id="playlist_name" name="playlist_name" value="{{ playlist_name }}" class="input-styles">
                <br><br>
                <h2> Songs: </h2>
                <div class="grid-container">
                    {% for song in songs_list %}
                    <div class="playlist-card" data-playlist-id="{{ songs_list }}">
                        <input type="checkbox" name="selected_songs" value="{{ songs_list }}" id="song-{{ songs_list }}" class="checkbox">
                        <label for="playlist-{{ songs_list }}">c
                            <img src="spotify.png" alt="Playlist Image" class="playlist-image">
                            <div class="playlist-title">{{ song }}</div>
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Next Button -->
            <div class="form-actions">
                <button type="submit" class="button">Add to Spotify</button>
            </div>
        {% else %}
            <p>No songs generated!</p>
        {% endif %}
    </form>

{% endblock content %}
