{% extends "template.html" %}
{% block content %}
    <form id="generate-form" method="POST" action="{{ url_for('main.generate') }}">
        <div>
            <!-- Special Requests Section -->
            <h3>Enter Your Special Requests</h3>
            <label for="playlist_name">Playlist Name:</label>
            <input type="text" id="playlist_name" name="playlist_name" placeholder="Night Drive Playlist" class="input-styles">
            <br><br>
            <label for="range_songs">Range of Songs:</label>
            <input type="text" id="range_songs" name="range_songs" min="5" max="80" placeholder="20-30" class="input-styles">
            <br><br>
            <label for="creativity">Creativity (1-10):</label>
            <input type="text" id="creativity" name="creativity" min="1" max="10" placeholder="2" class="input-styles">
            <br><br>
            <label for="special_requests">Special Requests:</label>
            <input type="text" id="special_requests" name="special_requests" placeholder="laufey related songs" class="input-styles">
            <br><br>

            <!-- Submit Button -->
            <button type="submit" name="step" value="2">Generate</button>
        </div>
    </form>

{% endblock content %}
