<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}SPG{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <!-- Navigation Bar -->
    <div class="nav">
        <div class="title1" style="font-size: 30px;"><strong>Welcome to SPG</strong></div>

        <!-- Check if user is logged in -->
        {% if session.get('token_info') %}
            <div><a href="{{ url_for('main.home') }}">Home</a></div>
            <div><a href="{{ url_for('main.logout') }}">Logout</a></div>
        {% else %}
            <div><a href="{{ url_for('main.home') }}">Home</a></div>
            <div><a href="{{ url_for('main.login') }}">Login</a></div>
        {% endif %}
    </div>

    <!-- Main Content Area -->
    <br>
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer Section -->
    <div class="footer">
        <div><span>Site design by Tjhin</span></div>
        <div><a href="https://github.com/atjhin/spotify-playlist-generator" target="_blank">See Github Code Here</a></div>
    </div>
</body>
</html>
