<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}SPG{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="nav">
        <div class="title" style="font-size: 30px;"><strong>Welcome to CSCB20</strong></div>
        {% if session.get('name') %}
            <div><a href="{{ url_for('main.home') }}">Home</a></div>
            <!-- Uncomment if you add a notes page -->
            <!-- <div><a href="{{ url_for('main.notes') }}">Notes</a></div> -->
            <div><a href="{{ url_for('main.generate') }}">Generate</a></div>
            <div><a href="{{ url_for('main.logout') }}">Log Out</a></div>
        {% else %}
            <div class="{% if pagename == 'login' %}current{% endif %}"><a href="{{ url_for('main.login') }}">Log In</a></div>
        {% endif %}
    </div>
    <br>
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer">
        <div><span>Site design by Tjhin</span></div>
        <div><a href="https://github.com/atjhin/spotify-playlist-generator" target="_blank">See Github Code Here</a></div>
    </div>
</body>
</html>
